{% extends 'base.html' %}
{% block content %}
    <div class='navbar'><h1>Books</h1></div>
    <form method="GET" action='' class="form-inline">
      <input type='hidden' name='q' value="search"/>
      <input type='text' name='title' placeholder="Title"/>
      <input type='text' name='author' placeholder="Author" />
      <input type='text' name='publisher' placeholder="Publisher"/>
      <input type='text' name='genre' placeholder="Genre"/>
      <input type='text' name='summary' placeholder="Summary"/>
      <input type='text' name='ISBN' placeholder="ISBN"/>
      <input type='checkbox' name='available'/><label> Available only?</label>
      <input class="btn btn-secondary" type='submit' value='Search'/>
    </form>
    <div class="row">
    {% for book in books %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{book.img}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{book.title}}</h5>
                    <p class="card-text"><i>{{book.author}}</i> <br> {{book.publisher}} | {{book.genre}}</p>
                    <a href="/books/{{book.id}}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}