{% extends 'base.html' %}
{% block title %}Book Details{% endblock title %}
{% block content %}
    <div class='navbar'><h1>View Book Details</h1></div>
    <div class="card" style="width: 36rem;">
         
        <div class="card-body">
            <h5 class="card-title">{{object.title}}</h5>
            <p class="card-text"><i>{{object.author}}</i> <br> {{object.publisher}} | {{object.genre}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{object.summary}}</li>
            <li class="list-group-item">ISBN: {{object.ISBN}}</li>
            <li class="list-group-item">Location: {{object.location}}</li>
        </ul>
        <div class="card-body">
            {% if object.pdf %}
                <a target="_blank" href="{{object.pdf}}" class="btn btn-warning">PDF</a>
            {% endif %}
            {% if object.available %}
                <form method='POST'> 
                    {% csrf_token %}
                    <input type="submit" value="Request Book" class="btn btn-primary"/>
                </form>
            {% else %}
                <div class="btn btn-secondary">Not Available</div>
            {% endif %}
        </div>
        <img src="{{object.img}}" class="card-img-left" alt="...">
    </div>
{% endblock content %}