{% extends 'base.html' %}
{% block title %}Returned{% endblock title %}
{% block content %}
    <legend><h1>Returned Books</h1></legend>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Return ID</th>
                <th scope="col">Return Time</th>
                <th scope="col">Issue ID</th>
                <th scope="col">Issue Time</th>
                <th scope="col">Due Date</th>
                <th scope="col">Request ID</th>
                <th scope="col">Request Time</th>
                <th scope="col">Student ID</th>
                <th scope="col">Student Name</th>
                <th scope="col">Book ID</th>
                <th scope="col">Book Title</th>
            </tr>
        </thead>
        <tbody>
        {% for o in obj %}
            <tr>
                <th scope="row">{{o.ret.id}}</th>
                <td>{{o.ret.returntime}}</td>
                <td>{{o.iss.id}}</td>
                <td>{{o.iss.approvetime}}</td>
                <td>{{o.iss.due}}</td>
                <td>{{o.req.id}}</td>
                <td>{{o.req.requesttime}}</td>
                <td>{{o.student.id}}</td>
                <td>{{o.student.username}}</td>
                <td>{{o.book.id}}</td>
                <td>{{o.book.title}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}